{% extends "base.html" %}
{% block title %}Create Order{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=#topNavBar>
      	<span class="icon-bar"></span>
      	<span class="icon-bar"></span>
      	<span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse"  id="topNavBar">
      <ul class="nav navbar-nav">
        <li>
          <a href="{{ url_for('index') }} ">
            <span class="glyphicon glyphicon-user"></span>
            {{ session.get('username') }}
          </a>
        </li>
        <li class="active">
          <a href="{{ url_for('add') }}">
              <span class="glyphicon glyphicon-plus"></span>&nbsp;New Order
          </a>
        </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="{{ url_for('logout') }}">
              <span class="glyphicon glyphicon-off"></span>&nbsp;Logout
            </a>
          </li>
        </ul>
        {% if orders %}
        <form class="navbar-form navbar-right" action="{{ url_for('index') }}" method="post">
          <div class="form-group">
            <div class="input-group">
              <select class="selectpicker form-control" name="sort">
                <option value="id">
                  ID
                </option>
                <option value="order_status" {% if sort=="order_status" %} selected {% endif %}>
                  Order Status
                </option>
                <option value="cost_price" {% if sort=="cost_price" %} selected {% endif %}>
                  Cost
                </option>
                <option value="order_date" {% if sort=="order_date" %} selected {% endif %}>
                  Date
                </option>
              </select>
            </div>
            <button type="submit" class="btn btn-default">Go</button>
          </div>
        </form>
        {% endif %}
    </div>
  </div>
</nav>

<div class="row">
  <div class="col-md-offset-3 col-md-6">

    {% from "_formhelpers.html" import render_field %}
    <form role="form" action="{{ url_for('add')}}" method="post" enctype="multipart/form-data">


      {{ form.hidden_tag() }}

      <p>{{ render_field(form.order_id, class="form-control") }}</p>
      <p>{{ render_field(form.order_status, class="form-control") }}</p>
      <p>{{ render_field(form.product_name, class="form-control") }}</p>
      <p>{{ render_field(form.product_url, class="form-control") }}</p>
      <p>{{ render_field(form.cost_price, class="form-control") }}</p>

      <br>
      <button type="submit" class="btn btn-primary pull-right" name="button">Create Order</button>
      {% if error %}
      <div class="error text-danger">
        <ul>
          <li>
            {{ error }}
          </li>
        </ul>
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}
