{% extends "base.html" %}
{% block title %}User Login {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='login_style.css') }}">
<div class="row">
  <div class="Absolute-Center is-Responsive">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
            {% from "_formhelpers.html" import render_field %}
            <form role="form" action="{{ url_for('login')}}" method="post">
              {{ form.hidden_tag() }}
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                {{ render_field(form.username, class="form-control", placeholder="Username") }}
              </div>
              <div class="form-group input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                {{ render_field(form.password, class="form-control",placeholder="Password") }}
              </div>
              {% if error %}
                <div class="error text-danger">
                  <ul>
                    <li>
                      {{ error }}
                    </li>
                  </ul>
                </div>
              {% endif %}
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
              </div>
            </form>
            <div class="text-center">
              Not Registered?
              <a href="{{ url_for('signup') }}">Create an Account</a>
            </div>

    </div>
  </div>
</div>
{% endblock %}
